/api-ciscocdr2/appsettings.json
/.vs/api-ciscocdr2/v16/Server/sqlite3/db.lock
/.vs/api-ciscocdr2/v16/Server/sqlite3/storage.ide
/.vs/api-ciscocdr2/v16/Server/sqlite3/storage.ide-shm
/.vs/api-ciscocdr2/v16/Server/sqlite3/storage.ide-wal
/api-ciscocdr2/bin
/api-ciscocdr2/obj
